

<div *ngIf="product">
  <h2 class="hUberschrift">{{product.name}}</h2>
  <img src="{{product.image}}">

  <h4 *ngIf="product.availableCount > 1">
    {{product.price}} €
  </h4>

  <h4 style="color:red" *ngIf="product.availableCount < 1">
    Ausverkauft
  </h4>

  <p class="lowCount" >Beschreibung: {{product.description}}</p>

  <br>
  <div>
    <button (click)="addCount()">+</button>
    {{productCount}}
    <button (click)="removeCount()">-</button>
    <br><br>

    <p>Summe: {{cartPrice}} €</p>
  </div>

  <button (click)="addToCart(product)">In den Warenkorb</button>
</div>